<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-width,initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
<head>
<body>
<center>
    <header>
        <div id="banner">
            <a href="/" class="botmenu_C"><img src="{{ url_for('static', filename='img/banner.png') }}" width="100%" height="100%"></a>
        </div>
        <div id="menu_A">
            <a href="/" class="botmenu_A">Home</a>
            <a href="/Streamer" class="botmenu_A">Buscador</a>
            <a href="/About" class="botmenu_A">About</a>
        </div>
        <div id="menu_B">
            <a href="Perfil" class="botmenu_B">Perfil</a>
        </div>
    </header>
    {% block content %}
            
    {% endblock %}
</center>
</body>
<html>