{% extends 'base.html'%}
{% block title %}
Taller Integral
{% endblock %}
{% block content %} 
<div id="body_about">
    Acerca de la web
    <ul>
        <div id="font_about">¿Que es esto?</div>
        <li>Es una web app para sacar informacion de los streamers conocidos o poco conocidos  de la plataforma Twitch.tv solo se necesita su username para obtener la informacion, esta esta conectada a la api de twitch reflejando datos reales de los individuos</li>
    </ul>
    <ul>
        <div id="font_about">¿La informacion de donde la saco?</div>
        <li>La informacion sacada es de la api oficial de Twitch la cual es abierta para todo publico con fines educativos, estadisticos o para crear herramientas de stream, al ser de oficial de twitch los datos son actualizados cada x tiempo y no son modificables</li>
    </ul>
    <ul>
        <div id="font_about">¿Quien la diseño?</div>
        <li>La WebApp fue diseñada por Matias Tapia alumno de quinto año de Ingenieria Informatica con fines de obtener informacion y aplicar el uso de una api con un framewrok tipo MVC</li>
    </ul>
    <ul>
        <div id="font_about">Contacto</div>
        <li>Mail: matiastapia@alumnos.upla.cl</li>
        <li>repositorio github: link</li>
    </ul>
</div>
<footer>
    <div id="footer">
        <p>Creador Matias Tapia - Ingenieria informatica</p>
        <p>Trabajo final Taller Integrado</p>
    </div>
</footer>
{% endblock %}