{% extends 'base.html'%}
{% block title %}
Taller Integral
{% endblock %}
{% block content %} 
<div id="slider">     
    <form action="" method="post">
        <div id="formu">
            <p>Buscador De Streamer:</p>
            <input type='text' name='nm' />
            <input type='submit' value='Buscar' />
        </div>
    </form>
</div>
<div id="body_s">
    <div id="topGame">     
        <h2>Top Categoria en Directo</h2>
        <div class="Grafico_B">
            <div class='st_b'>{{ data.name }}</div>
            <img src="{{ data.banner }}" width="100%" height="100%">
        </div>
        <div class="Grafico_B">
            <div class='st_b'>{{ data.name2 }}</div>
            <img src="{{ data.banner2 }}" width="100%" height="100%">
        </div>
        <div class="Grafico_B">
            <div class='st_b'>{{ data.name3 }}</div>
            <img src="{{ data.banner3 }}" width="100%" height="100%">
        </div>
        <div class="Grafico_B">
            <div class='st_b'>{{ data.name4 }}</div>
            <img src="{{ data.banner4 }}" width="100%" height="100%">
        </div>
        <div class="Grafico_B">
            <div class='st_b'>{{ data.name5 }}</div>
            <img src="{{ data.banner5 }}" width="100%" height="100%">
        </div>
        <div class="Grafico_B">
            <div class='st_b'>{{ data.name6 }}</div>
            <img src="{{ data.banner6 }}" width="100%" height="100%">
        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <p>Creador Matias Tapia - Ingenieria informatica</p>
        <p>Trabajo final Taller Integrado</p>
    </div>
</footer>
{% endblock %}
