{% extends 'base.html'%}
{% block title %}
Home - web app
{% endblock %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}
{% block content %} 
<div id="stats">     
    <h2>Top Lives</h2>
    <a href='https://twitch.tv/{{ data.user }}'><div class="Grafico_A">
        <div class='st_a'>{{ data.user }}, stremeando: {{ data.game }}<br> total espectadores:{{ data.visitas }} </div>
        <img src="{{ data.url }}" width="100%" height="100%">
    </div></a>
    <a href='https://twitch.tv/{{ data.user2 }}'><div class="Grafico_A">
        <div class='st_a'>{{ data.user2 }}, stremeando: {{ data.game2 }}<br> total espectadores:{{ data.visitas2 }} </div>
        <img src="{{ data.url2 }}" width="100%" height="100%">
    </div></a>
    <a href='https://twitch.tv/{{ data.user3 }}'><div class="Grafico_A">
        <div class='st_a'>{{ data.user3 }}, stremeando: {{ data.game3 }}<br> total espectadores:{{ data.visitas3 }} </div>
        <img src="{{ data.url3 }}" width="100%" height="100%">
    </div></a>
    <a href='https://twitch.tv/{{ data.user4 }}'><div class="Grafico_A">
        <div class='st_a'>{{ data.user4 }}, stremeando: {{ data.game4 }}<br> total espectadores:{{ data.visitas4 }} </div>
        <img src="{{ data.url4 }}" width="100%" height="100%">
    </div></a>
</div>
<div id="body_s">
    <div id="text-graph">Espectadores por Streamer</div>
    <div id='graph'>
        <img src="{{ url_for('static', filename='img/grafico.png') }}" width="100%" height="100%">
    </div>
</div>
<footer>
    <div id="footer">
        <p>Creador Matias Tapia - Ingenieria informatica</p>
        <p>Trabajo final Taller Integrado</p>
    </div>
</footer>
{% endblock %}
